<div class="description-container">
    <div class="description-box">
      <p>Smite es un juego de tipo MOBA (Multiplayer Online Battle Arena), lanzado en 2014 y desarrollado por Hi-Rez Studios. 
        A diferencia de otros juegos del género, donde los jugadores controlan personajes con vista isométrica (desde arriba), 
        Smite se destaca por su perspectiva en tercera persona. Los jugadores toman el control de dioses, semidioses y 
        figuras mitológicas de diversas culturas, como el panteón griego, nórdico, egipcio, maya, chino, hindú, entre otros.</p>
    </div>
    <div class="description-box">
      <p>1. Solo Laner (Carril Solo)
        Ubicación: Carril solo (lane izquierdo).<br>
        2. Mid Laner (Carril Central)
        Ubicación: Carril central.<br>
        3. Jungler (Selva)
        Ubicación: Selva (área entre los carriles).<br>
        4. Support (Soporte)
        Ubicación: Carril dúo (acompañando al ADC).<br>
        5. ADC (Attack Damage Carry) (Carril Dúo)
        Ubicación: Carril dúo (lane derecho, junto al Support).<br>
      </p>
    </div>
  </div>
  